{% extends app.isAjax ? "ajax-navigation/layouts/ajax-layout.twig" : "core/layouts/main-layout.twig" %}

{% block breadcrumb %}
    {% include 'core/common/breadcrumb.twig' %}
{% endblock %}

{% block content %}
    <span class="ajax-loading-data" data-ajax-cache="{{ {duration: 600} |json_encode() }}"></span>

    {{ enable_html_hooks('form', 'signin_form') }}
    <form id="sign-in-form" role="form"
          action="{{ path('auth/sign-in/target') }}"
          method="post"
          class="sign-form ajax-form">

        <input type="hidden" name="{{ app['csrf.token_name'] }}"
               value="{{ app['csrf.token_value'] }}">

        <fieldset id="core-inputs">

            <div class="form-group login">
                <label for="signup-input-login">
                    {{ 'core-plugins.auth.sign-in.form.login'|trans }}
                </label>

                <div class="input-container">
                    <input type="text" name="user[login]"
                           id="signup-input-login"
                           class="input input-text login"
                           value="{{ user.login }}"
                           required>
                </div>
            </div>

            <div class="form-group password">
                <label for="signup-input-password">
                    {{ 'core-plugins.auth.sign-in.form.password'|trans }}
                </label>

                <div class="input-container">
                    <input type="password" name="user[password]"
                           id="signup-input-password"
                           class="input input-password password"
                           required>
                </div>
            </div>

        </fieldset>

        <div class="form-group submit">
            <div class="input-container">
                <input type="submit" class="submit-button"
                       value="{{ 'core-plugins.auth.sign-in.form.submit'|trans }}">
            </div>
        </div>

    </form>
{% endblock %}
