<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Talk Talk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="csrf-param" content="{{ app['csrf.token_name'] }}"/>
    <meta name="csrf-token" content="{{ app['csrf.token_value'] }}"/>

    {{ enable_html_hooks('app_stylesheets') }}
    {% for stylesheet in get_plugins_stylesheets() %}
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

{{ enable_html_hooks('site_container') }}
<div id="site-container">

    {% block header %}
        {% include '/core/common/header.twig' %}
    {% endblock %}

    {% include 'core/common/alerts-display.twig' with {alerts: get_flashes()} %}

    {{ enable_html_hooks('main_content_container') }}
    <div id="main-content-container" class="clearfix">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
        {% include '/core/common/footer.twig' %}
    {% endblock %}

    <div id="debug-info-container"></div>
    {% if app.debug %}{{ display_app_debug_info() }}{% endif %}

</div>{# end #site-container #}

{# JavaScript, it's up to you now! #}
{{ enable_html_hooks('app_javascripts') }}
{% for javascript in get_plugins_javascripts() %}
    <script src="{{ javascript }}"></script>
{% endfor %}


</body>
</html>
