<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ app['forum-base.title'] }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="csrf-param" content="{{ app['csrf.token_name'] }}"/>
    <meta name="csrf-token" content="{{ app['csrf.token_value'] }}"/>

    {{ enable_html_hooks('app_stylesheets') }}
    {% for stylesheet in get_plugins_stylesheets() %}
        <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

    {# Do we have "HEAD" JavaScript files? Let's include them now! #}
    {% include 'core/common/javascripts-inclusion.twig'
    with { javascripts: get_plugins_javascripts('head') } %}

</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

{{ enable_html_hooks('site_container') }}
<div id="site-container">

    {% block header %}
        {% include '/core/common/header.twig' %}
    {% endblock %}

    {% include 'core/common/alerts-display.twig' with {alerts: get_flashes()} %}

    {% block breadcrumb %}
        {% include '/core/common/breadcrumb.twig' %}
    {% endblock %}

    {{ enable_html_hooks('main_content_container') }}
    <div id="main-content-container">
        <div id="main-content" class="clearfix">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% block footer %}
        {% include '/core/common/footer.twig' %}
    {% endblock %}

    <span id="app-http-status-code" data-code="{{ app['app.http_status_code'] }}"></span>

    {% if app['config']['debug']['perfs.tracking'] %}{{ display_app_perfs_info() }}{% endif %}

</div>{# end #site-container #}

{# JavaScript, it's up to you now! #}
{% include 'core/common/javascripts-inclusion.twig'
with { javascripts: get_plugins_javascripts('endOfBody') } %}

</body>
</html>
