{% if forums is not empty %}
    {{ enable_html_hooks('forums_list') }}
    <div class="forums-list-container">
        <div class="forums-list">
            {% for forum in forums %}
                <div class="forum-container level-{{ forum.depth }}">
                    <div class="forum">
                        <h3 class="forum-title">
                            <a href="{{ path('forum-base/forum', {forum: forum.id}) }}"
                               class="forum-link root-forum-link ajax-link">
                                {{ forum.name }}
                            </a>
                            <span class="badge">{{ forum.nb_posts }}</span>
                        </h3>
                        <div class="content">
                            <div class="forum-description">
                                {{ forum.desc }}
                            </div>
                            {% if forum.hasChild %}
                                <div class="forum-children">
                                    {% for childForum in forum.children %}
                                        <h5>
                                            <a href="{{ path('forum-base/forum', {forum: childForum.id}) }}"
                                               class="forum-link child-forum-link ajax-link">
                                                {{ childForum.name }}
                                            </a>
                                            <span class="badge">{{ childForum.nb_posts }}</span>
                                        </h5>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>{# end .content #}
                    </div>{# end .forum #}
                </div>{# end .forum-container #}
            {% endfor %}
        </div>{# end .forums-list#}
    </div>{# end .forums-list-container #}
{% else %}
    <div class="empty-list-msg">
        {{ 'core-plugins.forum-base.forums-list.no-forum'|trans }}
    </div>
{% endif %}
