{% if topics is not empty %}

    {{ enable_html_hooks('topics_list', 'topic') }}
    <div class="topics-list-container">
        <div class="topics-list">
            <div class="topics-list-desc list-desc">
                {{ nbTopicsTotal }} topics - page {{ paginationData.currentPageNum }} -
                {{ topics|length }} topics on this page
            </div>
            {% for topic in topics %}
                <div class="topic-container">
                    <div class="topic">
                        <h4 class="topic-name">
                            <a href="{{ path('forum-base/topic', {topic: topic.id}) }}"
                               class="ajax-link">
                                {{ topic.name }} - {{ topic.nb_replies }} replies
                            </a>
                        </h4>

                        <div class="topic-info">
                            Created {{ topic.created_at|from_now }} by <b>{{ topic.author.login }}</b><br>
                            Last modified {{ topic.updated_at|from_now }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>{# end .topics-display #}
    </div>{# end .topics-display-container #}

{% else %}

    <div class="empty-list-msg">
        {{ 'core-plugins.forum-base.topics-list.no-topic'|trans }}
    </div>

{% endif %}
