{{ enable_html_hooks('header') }}
<header>
    <h1><a href="{{ path('core/home') }}" class="ajax-link">Talk-Talk</a></h1>

    <nav>
        <ul>
            <li class="sign-up {{ app.isAuthenticated ? 'hidden' : '' }}">
                <a href="{{ path('auth/sign-up') }}" class="ajax-link">Sign up</a>
            </li>
            <li class="sign-in {{ app.isAuthenticated ? 'hidden' : '' }}">
                <a href="{{ path('auth/sign-in') }}" class="ajax-link">Sign in</a>
            </li>
            <li class="sign-out {{ app.isAuthenticated ? '' : 'hidden' }}">
                <a href="{{ path('auth/sign-out') }}" class="ajax-link">Sign out</a>
            </li>
        </ul>
    </nav>

    <div id="logged-user-container">
        {% if app.isAuthenticated %}
            {% include 'auth/common/user-display.twig' with {'user': app.session.get('user')} %}
        {% endif %}
    </div>

</header>
