{% extends app.isAjax ? "core/layouts/ajax.twig" : "core/layouts/main-layout.twig" %}

{% block breadcrumb %}
    {% include 'core/common/breadcrumb.twig' %}
{% endblock %}

{% block content %}
    <span class="ajax-loading-data" data-ajax-cache="{{ {duration: 600} |json_encode() }}"></span>

    {{ enable_html_hooks('form', 'signup_form') }}
    <form id="signup-form" role="form"
          action="{{ path('auth/sign-up/target') }}"
          method="post"
          class="sign-form ajax-form">

        <input type="hidden" name="{{ app['csrf.token_name'] }}"
               value="{{ app['csrf.token_value'] }}">

        <fieldset id="core-inputs">

            <div class="form-group login {{ failed_fields.login is defined ? 'form-error' : '' }}">
                <label for="signup-input-login">
                    {{ 'core-plugins.auth.sign-up.form.login'|trans }}
                </label>

                <div class="input-container">
                    <input type="text" name="user[login]"
                           id="signup-input-login"
                           class="input input-text login"
                           value="{{ user.login }}"
                           required>
                </div>
            </div>

            <div class="form-group email {{ failed_fields.email is defined ? 'form-error' : '' }}">
                <label for="signup-input-email">
                    {{ 'core-plugins.auth.sign-up.form.email'|trans }}
                </label>

                <div class="input-container">
                    <input type="email" name="user[email]"
                           id="signup-input-email"
                           class="input input-email email"
                           value="{{ user.email }}"
                           required>
                </div>
            </div>

            <div class="form-group password {{ failed_fields.password is defined ? 'form-error' : '' }}">
                <label for="signup-input-password">
                    {{ 'core-plugins.auth.sign-up.form.password'|trans }}
                </label>

                <div class="input-container">
                    <input type="password" name="user[password]"
                           id="signup-input-password"
                           class="input input-password password"
                           required>
                </div>
            </div>

            <div class="form-group password-confirmation">
                <label for="signup-input-password-confirmation">
                    {{ 'core-plugins.auth.sign-up.form.password_confirmation'|trans }}
                </label>

                <div class="input-container">
                    <input type="password" name="user[password_confirmation]"
                           id="signup-input-password-confirmation"
                           class="input input-password password-confirmation"
                           required="">
                </div>
            </div>

        </fieldset>

        <div class="form-group submit">
            <div class="input-container">
                <input type="submit" class="submit-button"
                       value="{{ 'core-plugins.auth.sign-up.form.submit'|trans }}">
            </div>
        </div>

    </form>
{% endblock %}
