{{ enable_html_hooks('perfs_info') }}
<div id="perfs-info">
    <fieldset>
        <legend>App performance</legend>
        <ul>
            <li>
                For URL: <code class="current-action-url">{{ current_path() }}</code>
            </li>
            <li>
                Total number of plugins: <b class="nb-plugins">{{ nbPlugins }}</b>
            </li>
            <li>
                Time elapsed until this display: <b class="perfs-script-duration">{{ app['perfs.script.duration'] }}</b>s.<br>
                - time elapsed at bootstrap (before plugins initialization): <b class="perfs-bootstrap-duration">{{ app['perfs.bootstrap.duration'] }}</b>s.<br>
                - time elapsed at "app ready" (before <code>$app->run()</code>): <b class="perfs-plugins-init.duration">{{ app['perfs.plugins-init.duration'] }}</b>s.
            </li>
            <li class="hidden">
                QueryPath phase duration: <b class="query-path-duration">N/A</b>
            </li>
            <li>
                Included files: <b class="perfs-script-nb-included-files">{{ app['perfs.script.nb-included-files'] }}</b><br>
                - at bootstrap phase: <b class="perfs-bootstrap-nb-included-files">{{ app['perfs.bootstrap.nb-included-files'] }}</b><br>
                - at "app ready" phase : <b class="perfs-plugins-init-nb-included-files">{{ app['perfs.plugins-init.nb-included-files'] }}</b>
            </li>
            <li>
                Permanently disabled plugins: <b class="nb-plugins-permanently-disabled">{{ nbPluginsPermanentlyDisabled }}</b>
            </li>
            <li>
                Plugins disabled for current URL: <b class="nb-plugins-disabled-for-current-url">{{ nbPluginsDisabledForCurrentUrl }}</b>
            </li>
            <li>
                Actions registered: <b class="nb-actions-registered">{{ nbActionsRegistered }}</b>
            </li>
            <li>
                Session content: <pre class="session-content">{{ app.session.all|json_encode() }}</pre>
            </li>
        </ul>
    </fieldset>
</div>
