<div class="debug-info">
    <ul>
        <li>
            Total number of plugins: <b>{{ nbPlugins }}</b>
        </li>
        <li>
            Script duration until this display: <b>{{ app['perfs.script.duration'] }}</b>ms.<br>
            - bootstrap duration (before plugins initialization): <b>{{ app['perfs.bootstrap.duration'] }}</b>ms.<br>
            - "app ready" duration (before <code>$app->run()</code>): <b>{{ app['perfs.plugins-init.duration'] }}</b>ms.
        </li>
        <li>
            Included files: <b>{{ app['perfs.script.nb-included-files'] }}</b><br>
            - at bootstrap phase: <b>{{ app['perfs.bootstrap.nb-included-files'] }}</b><br>
            - at "app ready" phase : <b>{{ app['perfs.plugins-init.nb-included-files'] }}</b>
        </li>
        {% if nbPluginsPermanentlyDisabled > 0 %}
            <li>
                Permanently disabled plugins: <b>{{ nbPluginsPermanentlyDisabled }}</b>
            </li>
        {% endif %}
        <li>
            Plugins disabled for current URL: <b>{{ nbPluginsDisabledForCurrentUrl }}</b>
        </li>
        <li>
            Controllers registered: <b>{{ nbControllersRegistered }}</b>
        </li>
        <li>
            Session content: <pre>{{ dump(app.session.all) }}</pre>
        </li>
    </ul>

</div>
