{% extends app.isAjax ? "ajax-navigation/layouts/ajax-layout.twig" : "core/layouts/main-layout.twig" %}

{% macro new_topic_link() %}
    {% if app.isAnonymous %}
        {{ enable_html_hooks('authentication_required_msg') }}
        <div class="authentication-required-msg">
            {{ 'core-plugins.forum-base.acl.must_be_authenticated.for-new-topic'|trans({
            '%sign-in-url%': path('auth/sign-in', {'return-url': current_path() }),
            '%sign-up-url%': path('auth/sign-up', {'return-url': current_path() })
            })|raw }}
        </div>
    {% else %}
        {{ enable_html_hooks('create_new_topic_link') }}
        <a href="#"
           class="create-new-topic-link ajax-link">
            {{ 'core-plugins.forum-base.topics-list.create-new-topic'|trans }}
        </a>
        <code>[TODO]</code>
    {% endif %}
{% endmacro %}

{% import _self as my_macros %}

{% block breadcrumb %}
    {% include 'core/common/breadcrumb.twig' %}
{% endblock %}

{% block content %}
    <span class="ajax-loading-data" data-ajax-cache="{{ {duration: 30} |json_encode() }}"></span>

    {{ enable_html_hooks('page.forum', 'forum') }}
    <div class="forum-container parent-forum level-{{ forum.depth }}"
        data-forum-id="{{ forum.id }}">
        <div class="forum">
            <h2 class="forum-title">{{ forum.name }}</h2>
            <div class="forum-desc">{{ forum.desc }}</div>
        </div>{# end .forum #}
    </div>{# end .forum-container #}

    {% if forumChildren is defined and forumChildren is not empty %}
        <div class="forum-children">
            <div class="forums-list-desc list-desc">
                {{ forumChildren|length }} sub-forums
            </div>
            {% include 'forum-base/inc/forums-list.twig' with {forums: forumChildren} %}
        </div>
    {% endif %}

    {% include 'utils/common/pagination.twig' with paginationData %}

    {{ my_macros.new_topic_link() }}

    {% include 'forum-base/inc/topics-list.twig' with {topics: topics} %}

    {% if topics is not empty %}
        {{ my_macros.new_topic_link() }}
    {% endif %}

    {% include 'utils/common/pagination.twig' with paginationData %}

{% endblock %}
