{% extends app.isAjax ? "core/layouts/ajax.twig" : "core/layouts/main-layout.twig" %}

{% block content %}
    <span class="ajax-loading-data" data-ajax-cache="{{ {duration: 60} |json_encode() }}"></span>

    {{ enable_html_hooks('forums_display') }}
    <div class="forums-display-container">
        <div class="forums-display">
            {% for forum in forumsTree %}
                <div class="forum-container level-0">
                    <div class="forum">
                        <h3 class="title">
                            {{ forum.name }}
                            <span class="badge">{{ forum.nb_posts }}</span>
                        </h3>
                        <div class="content">
                            <div class="description">{{ forum.desc }}</div>
                            {% if forum.hasChild %}
                                <div class="children">
                                    {% for childForum in forum.children %}
                                        <h5>{{ childForum.name }}</h5>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>{# end .content #}
                    </div>{# end .forum #}
                </div>{# end .forum-container #}
            {% endfor %}
        </div>{# end .forums-display #}
    </div>{# end .forums-display-container #}

{% endblock %}

