{% extends app.isAjax ? "core/layouts/ajax.twig" : "core/layouts/main-layout.twig" %}

{% block breadcrumb %}
    {% include 'core/common/breadcrumb.twig' %}
{% endblock %}

{% block content %}
    <span class="ajax-loading-data" data-ajax-cache="{{ {duration: 30} |json_encode() }}"></span>

    {{ enable_html_hooks('page.topic', 'topic') }}
    <div class="topic-container">
        <div class="topic">
            <h2 class="topic-title">{{ topic.name }}</h2>
            <div class="topic-desc">
                Created {{ topic.created_at|from_now }} by
                <span class="topic-author">{{ topic.author.login }}</span><br>
                {% if topic.lastReply.id != posts[0].id %}
                    Last reply {{ topic.lastReply.created_at|from_now }} by
                    <span class="topic-last-participant">{{ topic.lastReply.author.login }}</span>
                {% else %}
                    No reply.
                {% endif %}
            </div>

            {% include 'utils/common/pagination.twig' with paginationData %}

            {% include 'forum-base/inc/posts-list.twig' with {posts: posts} %}

            {% include 'utils/common/pagination.twig' with paginationData %}

        </div>{# end .topic-display #}
    </div>{# end .topic-display-container #}

{% endblock %}
