{% extends app.isAjax ? "ajax-navigation/layouts/ajax-layout.twig" : "core/layouts/main-layout.twig" %}

{% macro new_post_link(topicId) %}
    {% if app.isAnonymous %}
        {{ enable_html_hooks('authentication_required_msg') }}
        <div class="authentication-required-msg">
            {{ 'core-plugins.forum-base.acl.must_be_authenticated.for-new-post'|trans({
            '%sign-in-url%': path('auth/sign-in', {'return-url': current_path() }),
            '%sign-up-url%': path('auth/sign-up', {'return-url': current_path() })
            })|raw }}
        </div>
    {% else %}
        {{ enable_html_hooks('create_new_post_link') }}
        <a href="{{ path('forum-base/new-post-form', {topic: topicId}) }}"
           class="create-new-post-link ajax-link">
            {{ 'core-plugins.forum-base.posts-list.create-new-post'|trans }}
        </a>
    {% endif %}
{% endmacro %}

{% import _self as my_macros %}

{% block breadcrumb %}
    {% include 'core/common/breadcrumb.twig' %}
{% endblock %}

{% block content %}
    <span class="ajax-loading-data" data-ajax-cache="{{ {duration: 30} |json_encode() }}"></span>

    {{ enable_html_hooks('page.topic', 'topic') }}
    <div class="topic-container">
        <div class="topic">
            <h2 class="topic-title">{{ topic.title }}</h2>
            <div class="topic-desc">
                Created {{ topic.created_at|from_now }} by
                <span class="topic-author">{{ topic.author.login }}</span><br>
                {% if topic.lastPost.id != posts[0].id %}
                    Last reply {{ topic.lastPost.created_at|from_now }} by
                    <span class="topic-last-participant">{{ topic.lastPost.author.login }}</span>
                {% else %}
                    No reply.
                {% endif %}
            </div>

            {% include 'utils/common/pagination.twig' with paginationData %}

            {{ my_macros.new_post_link(topic.id) }}

            {% include 'forum-base/inc/posts-list.twig' with {posts: posts, topicId: topic.id} %}

            {% if posts is not empty %}
                {{ my_macros.new_post_link(topic.id) }}
            {% endif %}

            {% include 'utils/common/pagination.twig' with paginationData %}

        </div>{# end .topic-display #}
    </div>{# end .topic-display-container #}

{% endblock %}
